.App {
  text-align: center;
  background-color: black;
}

.App-link {
  color: #61dafb;
}

.siteHeader{
  font-size: 40px;
  font-weight: bold;
  color:purple;
  background-color:black;
}

.logoutButtonDiv{
  display: flex;
  justify-content: right;
  float: right;
}

.homeTitle{
  font-size: 28px;
  color: aqua;
}

.homeDescription{
  color: aqua;
  font-size: 18px;
  max-width: 75%;
  margin-left:10%;
  margin: right 10%;
  text-align:center;
}
.navbarDiv{
  display: flex;
  flex-direction: left;
  margin-right: 10px;
  color: blue;
  background-color:aqua;
  width: 100%;
}

.navButton{
  color:aqua;
  background-color: grey;
  cursor:pointer;
}
.shopDiv{
  color:aqua;
  font-size: 28px;

}

.signupDiv{
  color:aqua;
  background:black;
}

.loginDiv{
  color:aqua;
  background:black;
}

.shirtCards{
  
}