.App {
  text-align: center;
  background-color: rgb(40, 166, 166);
}

.App-link {
  color: #61dafb;
}

.siteHeader{
  font-size: 40px;
  font-weight: bold;
  color: blue;
  background-color:black;
}

.logoutButton{
  display: flex;
  justify-content: right;
}

.siteTitle{
  font-size: 28px;
  font-color: blue;
}

.navbarDiv{
  display: flex;
  flex-direction: left;
  margin-right: 10px;
  color: blue;
  background-color: yellow;
}