.App {
  text-align: center;
  background-color: black;
}

.App-link {
  color: #61dafb;
}

.siteHeader{
  font-size: 40px;
  font-weight: bold;
  color:purple;
  background-color:black;
}

.logoutButtonDiv{
  display: flex;
  justify-content: right;
  float: right;
}

.homeTitle{
  font-size: 28px;
  color: aqua;
}

.homeDescription{
  color: aqua;
  font-size: 18px;
  max-width: 75%;
  margin-left:10%;
  margin: right 10%;
  text-align:center;
}
.navbarDiv{
  display: flex;
  flex-direction: left;
  margin-right: 10px;
  color: blue;
  background-color:aqua;
  width: 100%;
}

.navButton{
  color:aqua;
  background-color: grey;
  cursor:pointer;
}
.shopDiv{
  color:aqua;
  font-size: 28px;

}

.signupDiv{
  color:aqua;
  background:black;
}

.loginDiv{
  color:aqua;
  background:black;
}

.shirtCardDiv{
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: black;
  margin: 1rem;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: aqua;
  border-radius: 1rem;
  text-align: center;
  max-width: 300px;
  box-shadow: 5px 5px white;
  height:100%;
}

.shirtImg{
  max-width: 150px;
  max-height: 200px;
  display: flex;
  align-self: center;
  margin: auto;
  padding-top: 5px;
  align-items: center;
}
.shirtCards{
  background-color: black;
  
}

.cardButton{
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: aqua;
  color:aqua;
  background-color:black;
  cursor:pointer;
  max-width:150px;
}

.userShirtsDiv{
  color:aqua
}

.userShirtImg{
  max-width: 200px;
  max-height: 200px;
}